styles.css


h2  {
    color: dimgrey;
}

body{
    padding: 2em 2em 2em 4em;
    font-size: 14px;
    font-family: "Verdana", Ariel, sans-serif
}

img {
    margin: 16px;
}

footer {
    text-align: center;
    padding:5px;
}

